# This is an example configuration file for the nenobot.
ident            nenobot
wantNick         $ident
dbname           $ident
logfile          $dbname.log
plusplus         $dbname-karma
seen             $dbname-seen
ignore           $dbname-ignore
commitDBM        5
maxKeySize       50
maxDataSize      400
acceptUrl        OPTIONAL
ircuser          $ident
realname         $ident
server           irc.mircx.com
port             6667
allowed_channels #videogames #ubertech #destination-n
join_channels    #videogames #ubertech
database_backend DBM
ansi_control     1
perlMath         1
fortranMath      1
allowDNS         1
allowTraceroute  1
allowInternic    1
allowConv        1
allowTelling     1
allowUpdate      1
VERBOSITY        1
unignoreWord     unignore-everyone
confdir          conf
helpfile         nenobot.help
srcdir           src
extradir         extras
repeatIgnoreInterval 8
allowLeave       public
userList         nenobot.users
channelList	 nenobot.channels
quitMsg          Nenobot 0.6 (http://nenobot.sourceforge.net/)
minVolunteerLength 8
sanePrefix sane
weather true
metar   true
babel   true
slash   true
insult  true
excuse  true
wwwsearch  update
rss true
purldoc true
purldoc_trigger purldoc
purldoc_max_public 3
ispell true
zippy true
magic8_answers $miscdir/magic8.txt
